@model List<VolunteeringApp.Models.Chat.Message>

<div class="container">
    <div class="row">
        <h1 title="@ViewBag.usernames" class="text-truncate">Chat with @ViewBag.usernames</h1>
    </div>
    <div class="row p-1">
        <hr />
    </div>
    <!--Message List-->
    <div class="overflow-auto" style=" height: 60vh" id="messagesList">
        @if (Model.Count > 0)
        {
            foreach (var message in Model)
            {
                if (message.SenderId.Equals(ViewBag.currentUserId))
                {
                    <partial name="_SentMessage" model="@message"/>
                }
                else
                {
                    <partial name="_ReceivedMessage" model="@message" />
                }
            }
        }
        else
        {
            <p>Send hi and start a conversation. </p>
        }

        <!-- Messages will be added dynamically here -->
    </div>
    <!--Text input and send button-->
    <div class="row flex-grow-0 py-3 border-top">
        <div class="col-8">
            <input type="text" class="w-100" id="messageInput" />
        </div>
        <div class="text-end col-4">
            <input hidden id="conversationId" value="@ViewBag.conversationId" /> <!--save receiver id-->
            <input class="btn btn-primary" type="button" id="sendButton" value="Send Message" aria-labelledby="message" placeholder="Message" />
        </div>
    </div>
</div>

<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>