@model VolunteeringApp.Models.Social.Post


<div class="card my-4">
    <div class="card-header">
        <h5 class="card-title">@Html.DisplayFor(modelItem => Model.Title)</h5>
        <h6 class="card-subtitle mb-2 text-muted">@Html.DisplayFor(modelItem => Model.Author.OfficialName) (&#64;@Html.DisplayFor(modelItem => Model.Author.UserName))</h6>
    </div>
    <div class="card-body">
        <p class="card-text">@Html.DisplayFor(modelItem => Model.Body)</p>
        <div class="row mt-4">
            <div class="col-3">
                <!-- Take 3 columns for the button -->
                <a asp-controller="Posts" asp-action="Details" asp-route-id="@Model.Id" class="btn btn-dark">Go to post</a>
            </div>
            <div class="col-9 text-end font-monospace">
                <!-- Take 9 columns for the CreatedAt -->
                <p>Posted at @Html.DisplayFor(modelItem => Model.CreatedAt)</p>
            </div>
        </div>
    </div>
</div>