@model VolunteeringApp.Models.Social.Event

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Are you sure you want to delete this event?</h1>
<div class="mt-4">
    <div class="card">
        <div class="card-img-top" style="height: 400px; overflow: hidden; background-image: url('data:image/jpeg;base64,@Convert.ToBase64String(@Model.Image)'); background-size: cover; background-position: center;"></div>
        <div class="card-body">
            <div class="text-danger">From @Model.StartTime.ToString("ddd, dd MMM yyyy 'at' hh:mm tt") to @Model.EndTime.ToString("ddd, dd MMM yyyy 'at' hh:mm tt")</div>
            <h4 class="card-title display-6">@Model.Title</h4>
            <hr />
            <div class="mt-2 fw-bolder">Description</div>
            <div>@Model.Description</div>
            <div class="mt-2 fw-bolder">@Html.DisplayNameFor(model => model.MaxParticipants)</div>
            <div>@Model.MaxParticipants</div>
            <div class="mt-2 fw-bolder">Location</div>
            <div>@Model.Location</div>
        </div>
    </div>
    <form asp-action="Delete" class="mt-4">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-outline-dark">Back to List</a>
    </form>
</div>
