@model IEnumerable<VolunteeringApp.Models.Social.Event>

@{
    ViewData["Title"] = "Manage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Manage Events</h1>

<p>
    <a asp-action="Create" style="color:var(--primary-color)"><i class="bi bi-file-plus"></i>Create New</a>
</p>

<div class="row row-cols-1 row-cols-sm-2 row-cols-md-4">
    @foreach (var item in Model)
    {
        <div class="col mb-4">
            <div class="card h-100">
                <div style="height: 200px; overflow: hidden;">
                    <img src="data:image/jpeg;base64,@Convert.ToBase64String(item.Image)" class="card-img-top img-fluid" style="object-fit: cover; height: 100%;" alt="Event Image">
                </div>
                <div class="card-body d-flex flex-column">
                    <h6 class="card-subtitle mb-2 text-body-secondary text-danger">@item.StartTime.ToString("ddd, dd MMM yyyy 'at' hh:mm tt")</h6>
                    <h4 class="card-title">@item.Title</h4>
                    <p class="card-text">&#64;@item.Organizer.UserName</p>
                    <div class="d-grid gap-2 mt-auto">
                        <a asp-action="Edit" class="btn btn-outline-primary-custom mt-1" asp-route-id="@item.Id"><i class="bi bi-pencil"></i> Edit</a>
                        <a asp-action="Delete" class="btn btn-outline-danger-custom mt-1" asp-route-id="@item.Id"><i class="bi bi-trash3"></i> Delete</a>
                        <a asp-action="Details" class="btn btn-primary-custom mt-1" asp-route-id="@item.Id"><i class="bi bi-info-circle"></i> View Details</a>

                    </div>
                </div>
            </div>
        </div>
    }
</div>
