@model IEnumerable<VolunteeringApp.Models.Social.Post>

@{
    ViewData["Title"] = "Posts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="display-4">Posts</h1>

@* <p>
    <a asp-action="Create">Create New</a>
</p> *@

@foreach (var item in Model) {
    <div class="card my-4">
        <div class="card-header">
            <h5 class="card-title display-6">@Html.DisplayFor(modelItem => item.Title)</h5>
            <a class="link-secondary link-offset-2 link-underline link-underline-opacity-0" style="text-decoration:none" asp-controller="Organization" asp-action="Details" asp-route-id="@item.Author.Id">
                @Html.DisplayFor(modelItem => item.Author.OfficialName) (&#64;@Html.DisplayFor(modelItem => item.Author.UserName))
            </a>
        </div>
        <div class="card-body">
            <p class="card-text">@Html.DisplayFor(modelItem => item.Body)</p>
            <div class="row mt-4">
                <div class="col-3">
                    <!-- Take 3 columns for the button -->
                    <a asp-controller="Posts" asp-action="Details" asp-route-id="@item.Id" class="btn btn-dark"><i class="bi bi-arrow-right-circle-fill"></i> Go to post</a>
                </div>
                <div class="col-9 text-end font-monospace">
                    <!-- Take 9 columns for the CreatedAt -->
                    <p>Posted at @Html.DisplayFor(modelItem => item.CreatedAt)</p>
                </div>
            </div>
        </div>
    </div>
                @*<a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> *@
}

